.navbar-brand{
    font-weight: 700;
    font-size: 26px;
    font-family: 'robot';
}



.main4{
    background: url(./assets/abt\ us.PNG)no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-position: 50% 50%;
 }
 